<a href="https://colab.research.google.com/github/Nico-GP/Coding-Dojo_Track1/blob/main/Week2/GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CODING DOJO**: GroupBy
## Creado por: Nicolas Gonzalez
### Descripcion: Ejercicio de agrupacion de datos
* Creado: 10/01/22
* Ultima Actualizacion: 10/01/22

Se monta el contenido de Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Se importa pandas

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/CodingDojo/Week2/CalIt2.data.csv')
df

         0         1         2    3
0      7.0  07/24/05   0:00:00  0.0
1      9.0  07/24/05   0:00:00  0.0
2      7.0  07/24/05   0:30:00  1.0
3      9.0  07/24/05   0:30:00  0.0
4      7.0  07/24/05   1:00:00  0.0
...    ...       ...       ...  ...
10077  9.0  11-05-05  22:30:00  0.0
10078  7.0  11-05-05  23:00:00  0.0
10079  9.0  11-05-05  23:00:00  0.0
10080  7.0  11-05-05  23:30:00  1.0
10081  9.0  11-05-05  23:30:00  0.0

[10082 rows x 4 columns]

Se cambia el nombre de las columnas

In [ ]:
df = df.rename(columns={"0": "ID_Flujo", "1": "Fecha", "2": "Hora", "3": "Conteo"})
df.head()

   ID_Flujo     Fecha     Hora  Conteo
0       7.0  07/24/05  0:00:00     0.0
1       9.0  07/24/05  0:00:00     0.0
2       7.0  07/24/05  0:30:00     1.0
3       9.0  07/24/05  0:30:00     0.0
4       7.0  07/24/05  1:00:00     0.0

Se seleccionan los datos del 24 de julio de 2005

In [ ]:
 Julio_24 = df.loc[df["Fecha"] == "07/24/05", :]
 Julio_24

    ID_Flujo     Fecha      Hora  Conteo
0        7.0  07/24/05   0:00:00     0.0
1        9.0  07/24/05   0:00:00     0.0
2        7.0  07/24/05   0:30:00     1.0
3        9.0  07/24/05   0:30:00     0.0
4        7.0  07/24/05   1:00:00     0.0
..       ...       ...       ...     ...
91       9.0  07/24/05  22:30:00     0.0
92       7.0  07/24/05  23:00:00     2.0
93       9.0  07/24/05  23:00:00     0.0
94       7.0  07/24/05  23:30:00     0.0
95       9.0  07/24/05  23:30:00     0.0

[96 rows x 4 columns]

Se seleccionan los datos con nÃºmero de identificaciÃ³n de flujo = 7

In [ ]:
Flujo_7 = df.loc[df["ID_Flujo"] == 7, :]
Flujo_7

       ID_Flujo     Fecha      Hora  Conteo
0           7.0  07/24/05   0:00:00     0.0
2           7.0  07/24/05   0:30:00     1.0
4           7.0  07/24/05   1:00:00     0.0
6           7.0  07/24/05   1:30:00     0.0
8           7.0  07/24/05   2:00:00     0.0
...         ...       ...       ...     ...
10072       7.0  11-05-05  21:30:00     0.0
10074       7.0  11-05-05  22:00:00     3.0
10076       7.0  11-05-05  22:30:00     0.0
10078       7.0  11-05-05  23:00:00     0.0
10080       7.0  11-05-05  23:30:00     1.0

[5040 rows x 4 columns]

Se seleccionan los datos del 24 de julio de 2005 con nÃºmero de identificaciÃ³n de flujo = 7

In [ ]:
Jul_24_ID_7 = df.loc[(df["Fecha"] == "07/24/05") & (df["ID_Flujo"] == 7), :]
Jul_24_ID_7

    ID_Flujo     Fecha      Hora  Conteo
0        7.0  07/24/05   0:00:00     0.0
2        7.0  07/24/05   0:30:00     1.0
4        7.0  07/24/05   1:00:00     0.0
6        7.0  07/24/05   1:30:00     0.0
8        7.0  07/24/05   2:00:00     0.0
10       7.0  07/24/05   2:30:00     2.0
12       7.0  07/24/05   3:00:00     0.0
14       7.0  07/24/05   3:30:00     0.0
16       7.0  07/24/05   4:00:00     0.0
18       7.0  07/24/05   4:30:00     0.0
20       7.0  07/24/05   5:00:00     0.0
22       7.0  07/24/05   5:30:00     0.0
24       7.0  07/24/05   6:00:00     0.0
26       7.0  07/24/05   6:30:00     0.0
28       7.0  07/24/05   7:00:00     0.0
30       7.0  07/24/05   7:30:00     2.0
32       7.0  07/24/05   8:00:00     0.0
34       7.0  07/24/05   8:30:00     0.0
36       7.0  07/24/05   9:00:00     0.0
38       7.0  07/24/05   9:30:00     1.0
40       7.0  07/24/05  10:00:00     0.0
42       7.0  07/24/05  10:30:00     0.0
44       7.0  07/24/05  11:00:00     1.0
46       7.0  07/24/05  11:30:00     0.0
48       7.0  07/24/05  12:00:00     0.0
50       7.0  07/24/05  12:30:00     0.0
52       7.0  07/24/05  13:00:00     0.0
54       7.0  07/24/05  13:30:00     0.0
56       7.0  07/24/05  14:00:00     0.0
58       7.0  07/24/05  14:30:00     0.0
60       7.0  07/24/05  15:00:00     0.0
62       7.0  07/24/05  15:30:00     0.0
64       7.0  07/24/05  16:00:00     0.0
66       7.0  07/24/05  16:30:00     0.0
68       7.0  07/24/05  17:00:00     1.0
70       7.0  07/24/05  17:30:00     2.0
72       7.0  07/24/05  18:00:00     4.0
74       7.0  07/24/05  18:30:00     1.0
76       7.0  07/24/05  19:00:00     2.0
78       7.0  07/24/05  19:30:00     1.0
80       7.0  07/24/05  20:00:00     0.0
82       7.0  07/24/05  20:30:00     0.0
84       7.0  07/24/05  21:00:00     3.0
86       7.0  07/24/05  21:30:00     2.0
88       7.0  07/24/05  22:00:00     0.0
90       7.0  07/24/05  22:30:00     0.0
92       7.0  07/24/05  23:00:00     2.0
94       7.0  07/24/05  23:30:00     0.0

Se clasifican los valores de la columna "Conteo" y se seleccionan los 10 mayores

In [ ]:
Top10 = Jul_24_ID_7.sort_values(by="Conteo", ascending=False).head(10)
Top10

    ID_Flujo     Fecha      Hora  Conteo
72       7.0  07/24/05  18:00:00     4.0
84       7.0  07/24/05  21:00:00     3.0
76       7.0  07/24/05  19:00:00     2.0
92       7.0  07/24/05  23:00:00     2.0
30       7.0  07/24/05   7:30:00     2.0
10       7.0  07/24/05   2:30:00     2.0
86       7.0  07/24/05  21:30:00     2.0
70       7.0  07/24/05  17:30:00     2.0
68       7.0  07/24/05  17:00:00     1.0
74       7.0  07/24/05  18:30:00     1.0

Se identifica el valor minimo de la columna "Conteo"

In [ ]:
Min = (Top10["Conteo"].min())
Min

1.0

Se substrae el valor minimo a todos los valores de la columna "Conteo" de Top10

In [ ]:
New_Top10 = Top10["Conteo"].apply(lambda x: x-Min)
New_Top10

72    3.0
84    2.0
76    1.0
92    1.0
30    1.0
10    1.0
86    1.0
70    1.0
68    0.0
74    0.0
Name: Conteo, dtype: float64

Se obtiene el valor promedio de la columna "Conteo"

In [ ]:
New_Top10.mean()

1.1

Se seleccionan los datos de Agosto de 2005 con nÃºmero de identificaciÃ³n de flujo = 7

In [ ]:
Ag_ID_7 = df.loc[(df["Fecha"] >= "08/01/05") & (df["Fecha"] <= "08/31/05") & (df["ID_Flujo"] == 7), :]
Ag_ID_7

      ID_Flujo     Fecha      Hora  Conteo
1920       7.0  08/13/05   0:00:00     0.0
1922       7.0  08/13/05   0:30:00     1.0
1924       7.0  08/13/05   1:00:00     0.0
1926       7.0  08/13/05   1:30:00     0.0
1928       7.0  08/13/05   2:00:00     0.0
...        ...       ...       ...     ...
3734       7.0  08/31/05  21:30:00     0.0
3736       7.0  08/31/05  22:00:00     2.0
3738       7.0  08/31/05  22:30:00     1.0
3740       7.0  08/31/05  23:00:00     0.0
3742       7.0  08/31/05  23:30:00     2.0

[912 rows x 4 columns]

Se agrupan los datos por fecha y se destaca el maximo conteo

In [ ]:
Ag_ID_7.groupby(["Fecha"])[["Conteo"]].max()

          Conteo
Fecha
08/13/05     5.0
08/14/05     3.0
08/15/05    17.0
08/16/05    24.0
08/17/05    22.0
08/18/05    39.0
08/19/05    23.0
08/20/05     3.0
08/21/05     4.0
08/22/05    23.0
08/23/05    25.0
08/24/05    17.0
08/25/05    24.0
08/26/05    22.0
08/27/05     3.0
08/28/05     7.0
08/29/05    15.0
08/30/05    47.0
08/31/05    19.0